html,
body {
    height: 100%;
    background: url("img/bg.jpg");
    background-size: cover;
    font-family: "Poppins", sans-serif;
}

a:link {
    text-decoration: none;
}

.formlogin {
    box-sizing: border-box;
    width: 600px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid #f1bcd7;
    border-radius: 10px;
    background-color: #f7c8e0;
}

.formlogin input {
    margin-top: 10px;
    border-radius: 10;
}

.formlogin h2 {
    color: white;
}

.formlogin .btn {
    background-color: #e78bbb;
    color: white;
}

.rounded .btn2 {
    background-color: #e78bbb;
    color: white;
}

.rounded .btn2:hover {
    background-color: #f1bcd7;
    color: white;
}

.rounded .h1 {
    color: #e78bbb;
}

.but .btn3 {
    background-color: white;
    border: 1px solid #9fa6b2;
    color: #9fa6b2;
}

.but .btn3:hover {
    background-color: #f1bcd7;
    color: white;
}

.form-control::-webkit-input-placeholder {
    color: #f7c8e0;
}

.formlogin .btn:hover {
    background-color: #f1bcd7;
    color: white;
}

.display-4 {
    font-weight: bold;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    right: 20px;
    bottom: 2px;
    opacity: 0.4;
    font-size: 75px;
}

.navbar {
    background: #e78bbb;
}

.navbar h4 {
    font-weight: bold;
}

.navbar .btn:hover {
    background-color: #f1bcd7;
    color: white;
}

.dasboard h3 {
    font-weight: bold;
}

.table .btn-a {
    background-color: #e78bbb;
    color: white;
}

.table .btn:hover {
    background-color: #f1bcd7;
    color: white;
}

.data-pengguna {
    font-weight: bold;
}

.dasboard .ms-1 {
    background-color: #e78bbb;
    color: white;
}

.dasboard .ms-1:hover {
    background-color: #f1bcd7;
    color: white;
}

.bgback {
    background-color: #e673ae;
}

.form-adduser .form-floating:focus-within {
    z-index: 2;
}

.form-adduser .btn {
    background-color: #e78bbb;
    color: white;
    width: 100px;
}

.form-adduser .btn:hover {
    background-color: #f1bcd7;
    color: white;
}

.form-adduser input {
    margin-top: 10px;
    border-radius: 10;
}

.formselect {
    margin-top: 10px;
    border-radius: 10;
}

.dasboard .bg1 {
    background: #d864b3;
}

.dasboard .bg2 {
    background: #ff6fb5;
}

.dasboard .bg3 {
    background: #d864b3;
}

.dasboard .bg4 {
    background: #ff6fb5;
}

.bgwa {
    background-color: #e78bbb;
}

.api .btn-wa {
    background-color: #e78bbb;
    color: white;
}

.api .btn-wa:hover {
    background-color: #e78bbb;
    color: white;
}

.bd .btn:hover {
    background-color: #ff6fb5;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    color: white !important;
    pointer-events: none !important;
    background-color: #ff6fb5 !important;
    border-color: #ff6fb5 !important;
}

.column .btn {
    /* background-color: #e78bbb;
    color: white; */
    background-color: white;
    color: #f1bcd7;
}

.column .btn:hover {
    background-color: #f1bcd7;
    color: white;
}

.column .btn:active {
    border-color: #ff6fb5 !important;
    color: #ff6fb5 !important;
}

.column .btn1 {
    background-color: #e78bbb;
}

.mitra {
    background: #e673ae;
}

.mtr .btn-a {
    background-color: #e78bbb;
    color: white;
}

.mtr .btn-a:hover {
    background-color: #f1bcd7;
    color: white;
}

.mtr .btn-b{
    background-color: #f1bcd7;
    color: white;
}

.mtr .btn-b:hover{
    background-color: #e7cad9;
    color: white;
}

.formproduk {
    background: #e673ae;
}

.formproduk .btn-b {
    background-color: #e78bbb;
    color: white;
}

.formproduk .btn-b:hover {
    background-color: #f1bcd7;
    color: white;
}

/* .tb .form {
    background: white;
    border-radius: 5px;
    height: 95px;
    padding-left: 12px;
    padding-top: 5px;
} */
